.DS_Store
.cvsignore
sites/default/settings.php
.swp
*~
.metadata
.project
.settings
.cache
.buildpath
.htaccess
sites/default/files/.htaccess
files/tmp
sites/default/files/languages/*.js
.webapp
sites/default/files/tmp
sites/default/files/css/css_*
sites/default/files/js/js_*
patches/*
cache
